@import "../../config.scss";

.userwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  background: #ededed;
  width: 80%;
  border-radius: 3px;
  //border: 1px #d4d4d4 solid;
  margin: $gutter * 2 auto 0;
  // padding: $gutter $gutter * 1.5;
  font-family: $font-footer;
  align-items: center;

  &__name {
    display: flex;
    flex-direction: row;
    color: rgb(34, 34, 34);
    align-self: flex-start;
    margin-left: $gutter;
    padding: $gutter / 4;
    font-size: 1.3rem;
  }

  &__name h3 {
    display: flex;
    align-self: flex-start;
  }

  &__date {
    align-self: flex-start;
    font-size: 1.2rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    padding-bottom: $gutter * 2;
    width: 100%;
  }

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    font-weight: 700;
  }

  &__element {
    width: $gutter * 3;
    justify-content: space-between;
  }

 /*  &__bloodsugar {
    width: 60%;
    justify-content: space-between;
  } */
}

.bloodsugar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: -10px 0px;
  width: 60%;
    justify-content: space-between;
  
  &__time {
    color: $accent;
  }
}

.daybutton {
  background-color: #f1f1f1;
  margin-top: 0;
  margin-left: $gutter * 2;
}

.userbutton {
  background-color: #f1f1f1;
}