@import "../../config.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // width: 20%;
  min-width: 310px;
  // width: 290px;
  margin-left: -8px;
  margin-top: -8px;
  // padding-right: 8px;
  background: $accent;
  font-family: $font-heading;

  &__wrapper {
    position: fixed;
    width: 20%;
    min-width: 250px;
  }

  &__heading {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
  }

  &__heading h3 {
    margin: 0 auto;
    margin-top: 3 * $gutter;
    margin-bottom: $gutter;
    color: $color-sidebar;
    font-family: $font-heading;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $gutter;
    margin-right: $gutter * 2;
    color: $color-sidebar;
    text-decoration: none;
  }
}

.active {
  font-weight: 700;
} 