@import '../../config.scss';

.chatwrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: $gutter * 2;
}

.postItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: $gutter;
  font-family: $font-footer;
  max-width: 600px;
  color: #1a1a1a;

  &__post {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    border-bottom: 1px solid #ededed;
  }

  &__question {
    background: #f2f2f2;
    padding: 20px;
  }

  &__info {
    opacity: 0.8;
    color: $color-sidebar;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 200;
  }

  &__info ul {
    display: flex;
    flex-direction: column;
    background: $accent;
    padding: 1rem 30px;
    margin-top: 0;
    margin-left: 1rem;
    list-style: none;
  }

  &__info li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
  }

  &__name {
    font-weight: 400;
  }

  &__comments--single {
    border-bottom: 1px solid #c7c7c7;
    padding: 20px;
    margin-bottom: 2px;
  }

  &__comment {
    font-family: $font-footer;
    font-size: 1rem;
    padding: $gutter / 2;
    border: 1px solid #c7c7c7;
    outline: none;
    resize: none;
    overflow: none;
    margin-top: 2px;
  }

  &__created {
    font-weight: 700;
  }
}