@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:400,600,700|Raleway:400,500,700');

/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
*/

$max-width: 1200px;
$gutter: 20px;

$font-main:'Open Sans', "Times New Roman", sans-serif;
$font-heading: 'Raleway', sans-serif;
$accent: #13B1CE;
$color-sidebar: #ffffff;

@mixin row() {
  display: flex;

  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;

  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@mixin offset-left($cols: 0) {
  margin-left: ($cols/12 * 100) * 1%;
}
